<?php
/** @var Brend $block */

use AdvancedCoder\Brend\Block\Brend;

?>

<?php
/**
 *sequential input of table rows in a loop
 */
foreach ($block->getItems() as $item): ?>
    <p class="brand">
        <?php
        echo $item->getId(); ?> :
        <?php
        echo $item->getName(); ?> :
        <?php
        echo $item->getData('description'); ?> :
        <img src="<?php echo Brend::PATH . $item->getImage(); ?>" />
    </p>
<?php
endforeach; ?>

